<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:name=".DailyAyahApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyAyah">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="zikirmatik"
                    android:scheme="dailyayah" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".widget.DailyAyahWidgetProvider"
            android:exported="false"
            android:label="Ayet + Vakit">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/daily_ayah_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.DailyAyahOnlyWidgetProvider"
            android:exported="false"
            android:label="Günün Ayeti">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/daily_ayah_only_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.PrayerOnlyWidgetProvider"
            android:exported="false"
            android:label="Namaz Vakti">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/prayer_only_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.AllInOneWidgetProvider"
            android:exported="false"
            android:label="Ayet + Vakit + Zikir">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/all_in_one_widget_info" />
        </receiver>
        <activity
            android:name=".widget.DailyAyahWidgetConfigActivity"
            android:exported="true"
            android:label="Widget görünümü">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".widget.ZikirmatikWidgetProvider"
            android:exported="false"
            android:label="Zikirmatik">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/zikirmatik_widget_info" />
        </receiver>
    </application>
</manifest>